* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cordelina';
    src: url(cordelina/cordelina.otf);
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-y: visible;
}
:root {
    --corprincipal: #FFEFB0;
    --corpreta: #211D15;
    --corlaranja: #FF953B;
    --fontitulo: 'Cordelina';
    --fontexto: 'Poppins';
}

header#cabeça { 
    background-color: #FF953B;
    min-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    box-shadow: inset 0px -5px 22px -7px var(--corpreta);
}

.imgprincipal {
    width: 15rem;
}

.menu > a {
    margin-left: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu > a:hover {
    background-color: var(--corprincipal);
    border-radius: 2rem;
    padding: 0.7rem;
    color: var(--corpreta);
    transition-duration: 0.5s;
    font-size: 1.7rem;
    text-shadow: 2px 1px 3.5px #211d1585;
    box-shadow: 0px 20px 10px -15px #976131;
}

#conteuprin {
    max-width: 100%;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
}


.part1 {
    height: 45rem;
    min-width: 20rem;
    background-image: url(teste2.jpg);
    background-position: top right;
    background-repeat: no-repeat;  
}

.textop1 {
    width: 50rem;
    display: inline-block;
    min-width: 20rem;
    margin-top: 3.5rem;
}

.titulo {
    font-family: 'Cordelina';
    font-size: 5rem;
    color: var(--corpreta);
    text-shadow: 1px 3px 2px #4622035b;
    margin: 1rem;
}

.textoprincipal {
    font-family: 'Poppins';
    font-size: 1.3rem ;
    margin: 1rem;
    text-align: justify;
}
.textoprincipal > summary {
    font-weight: bold;
    text-shadow: 1px 2px 3px #58585875;
}

.botao1{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-color: transparent;
    display: block
;
}
.botao1 > a > img {
    width: 5rem;
    height: 5rem;
}

.botao1 a img:hover {
    width: 5.8rem;
    height: 5.8rem;
    transition-duration: 0.5s;
}

#part2 {
    height: 40rem;
    background: #211D15;
}

