* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: sans-serif;
}
:root {
    --corprincipal: #FFEFB0;
    --corpreta: #211D15;
    --corlaranja: #FF953B;
}

header#cabeça { 
    background-color: #FF953B;
    min-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    box-shadow: inset 0px -5px 22px -7px var(--corpreta);
}

.imgprincipal {
    width: 15rem;
}

.imglink{
    
}

.menu > a {
    margin-left: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu > a:hover {
    background-color: var(--corprincipal);
    border-radius: 2rem;
    padding: 0.7rem;
    color: var(--corpreta);
    transition-duration: 0.5s;
    font-size: 1.7rem;
    text-shadow: 2px 1px 3.5px #211d1585;
}